.small-radius {
  border-radius: 10px;
}
.border-none {
  border: none;
}
.green {
  width: 18px;
  height: 18px;
  appearance: none;

  /* Set green background color */
  background-color: #00FF00;

  /* Add a border (optional) */
  border: 1px solid #00FF00;

  /* Add rounded corners for a smoother look */
  border-radius: 3px;
}

.yellow {
  width: 18px;
  height: 18px;
  appearance: none;

  /* Set green background color */
  background-color: #FF0000;

  /* Add a border (optional) */
  border: 1px solid #FF0000;

  /* Add rounded corners for a smoother look */
  border-radius: 3px;
}

.nm {
  width: 18px;
  height: 18px;
  appearance: none;

  /* Set green background color */
  background-color: #FFFF00;

  /* Add a border (optional) */
  border: 1px solid #FFFF00;

  /* Add rounded corners for a smoother look */
  border-radius: 3px;
}

#fix-height {
  min-height: 215px !important;
}

.rdt_TableCol {
  padding: 8px !important; /* Adjust padding value as needed */
}
.colored-letter {
  display: inline-block; /* Ensures inline behavior for the circle */
  width: 50px; /* Adjust width and height as needed */
  height: 50px;
  text-align: center; /* Centers the letter vertically */
  line-height: 50px; /* Aligns the letter horizontally */
  border-radius: 50%; /* Creates a circle */
  background-color: #6259ca; /* Set desired background color */
  color: white; /* Set text color (optional, for visibility) */
  font-size: 30px; /* Adjust font size as needed */
}
.color-letter {
  display: inline-block; /* Ensures inline behavior for the circle */
  width: 40px; /* Adjust width and height as needed */
  height: 40px;
  text-align: center; /* Centers the letter vertically */
  line-height: 40px; /* Aligns the letter horizontally */
  border-radius: 50%; /* Creates a circle */
  background-color: #6259ca; /* Set desired background color */
  color: white; /* Set text color (optional, for visibility) */
  font-size: 30px; /* Adjust font size as needed */
}
.p-color-letter {
  display: inline-block; /* Ensures inline behavior for the circle */
  padding-top: 30px;
  width: 100px; /* Adjust width and height as needed */
  height: 100px;
  text-align: center; /* Centers the letter vertically */
  line-height: 40px; /* Aligns the letter horizontally */
  border-radius: 50%; /* Creates a circle */
  background-color: #6259ca; /* Set desired background color */
  color: white; /* Set text color (optional, for visibility) */
  font-size: 50px; /* Adjust font size as needed */
}
